
.root {
  height: 100%;
  z-index: 10;


  .manifestoContainer {
  }
}

.manifestoBg {
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 130vh;
  z-index: -1;
  object-fit: cover;

  //&.mobile{
  //  position: absolute;
  //}
}



