.root {

  video {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    left: 0;
    top: 0;
    object-fit: cover;

    //@media (max-width: 450px) {
    //  top: 0;
    //  position: fixed;
    //}
  }

  &:after {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 0, 58, 0.85);
    z-index: -1;
  }

  .navigationContainer {
    width: 90%;
    margin: 100px auto;

    @media (max-width: 451px) {
      display: none;
    }

    .navigationList {
      display: flex;
      justify-content: space-between;


      li {
        border-radius: 5px;
        text-align: center;
        width: 320px;
        cursor: pointer;
        padding: 25px;
        border: 5px solid #4B0096;
        font-size: 25px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        transition: .3s;

        @media (max-width: 1025px) {
          width: 220px;
          padding: 17px 0;
          font-size: 18px;
        }

        &:hover {
          background: #4B0096;
        }

        &.active {
          background: #4B0096;
        }
      }
    }
  }

  .laptop {
    @media (max-width: 450px) {
      display: none;
    }
  }

  .mobile {

    .heading {
      width: 100%;

      h2{
        border-radius: 5px;
        text-align: center;
        margin: 50px auto;
        width: 322px;
        cursor: pointer;
        padding: 25px;
        border: 5px solid #4B0096;
        font-size: 25px;
        font-weight: 600;
        color: white;
        background: #4B0096;
        text-decoration: none;
        text-transform: uppercase;
        transition: .3s;

        @media (max-width: 1025px) {
          width: 220px;
          padding: 17px 0;
          font-size: 18px;
        }
      }
    }


    @media (min-width: 451px) {
      display: none;
    }
  }

  section {

    .heading {
      margin: 50px auto;
      border-radius: 5px;
      text-align: center;
      width: 320px;
      cursor: pointer;
      padding: 25px;
      font-size: 25px;
      font-weight: 600;
      color: white;
      background: #4B0096;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s;
    }
  }

  .manifesto {
    width: 100%;
    height: 100vh;
  }

  .characters {
    width: 100%;
  }
}

