.root {

  &:after{
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 8, 65, 0.6);
    z-index: -1;
  }

  .navigationContainer {
    width: 90%;
    margin: 100px auto;

    .navigationList {
      display: flex;
      justify-content: space-between;


      a {
        border-radius: 5px;
        text-align: center;
        width: 320px;
        cursor: pointer;
        padding: 25px;
        border: 5px solid #4B0096;
        font-size: 25px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        transition: .3s;

        &:hover{
          background: #4B0096;
        }

        &.active {
          background: #4B0096;
        }
      }
    }
  }
}

