.root{
  width: 100%;

  .teamBanner{
    margin: 0 auto 165px auto;
    width: 95%;
    height: 735px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .teamList{
    width: 95%;
    margin: 0 auto;

    .teamListContainer{

      .list{
        display: flex;
        flex-wrap: wrap;
        gap: 150px;
      }
    }
  }
}

.teamBg{
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}


